

  <div class="mx-auto" style="width:600px">
    <h3>Create a New Event:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">event name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="datepicker">date of event:</label>
        <input class="form-input" type="text" id="datepicker" name="datepicker" />
      </div>
       <div class="form-group">
        <label for="timepicker">time of event: (mst)</label>
        <input class="form-input timepicker" type="text" id="timepicker" name="timepicker" />
      </div>
      <div class="form-group">
        <label for="project-location">location:</label>
        <textarea class="form-input" id="project-location" name="project-location"></textarea>
      </div>
      <div class="form-group">
        <label for="project-desc">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <label for="picture-url">picture url:</label>
        <textarea class="form-input" id="picture-url" name="picture-url"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  

  


<script src="./js/profile.js"></script>
